In [1]:
# Import rquired libraries

import pandas as pd
import numpy as np


## 1-Balance Sheet

### Download data

In [3]:
balance_sheet=pd.read_excel("C:\\Users\\abdul\\Downloads\\balance_sheet.xlsx")

In [5]:
balance_sheet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 32 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Year                                          60 non-null     int64
 1   Accounts Payable                              60 non-null     int64
 2   Cash                                          60 non-null     int64
 3   Common Stock                                  57 non-null     float64
 4   Gains Losses Not Affecting Retained Earnings  60 non-null     int64
 5   Inventory                                     44 non-null     float64
 6   Long Term Debt                                56 non-null     float64
 7   Long Term Investments                         49 non-null     float64
 8   Net Receivables                               60 non-null     int64
 9   Net Tangible Assets                           60 non-null     int64
 10  Other Assets                                  60 non-null     int64
 11  Other Current Assets                          56 non-null     float64
 12  Other Current Liab                            60 non-null     int64
 13  Other Liab                                    60 non-null     int64
 14  Other Stockholder Equity                      60 non-null     int64
 15  Property Plant Equipment                      60 non-null     int64
 16  Retained Earnings                             52 non-null     float64
 17  Short Long Term Debt                          48 non-null     float64
 18  Short Term Investments                        37 non-null     float64
 19  Total Assets                                  60 non-null     int64
 20  Total Current Assets                          60 non-null     int64
 21  Total Current Liabilities                     60 non-null     int64
 22  Total Liab                                    60 non-null     int64
 23  Total Stockholder Equity                      60 non-null     int64
 24  comp_type                                     60 non-null     object
 25  company                                       60 non-null     object
 26  Deferred Long Term Asset Charges              40 non-null     float64
 27  Good Will                                     52 non-null     float64
 28  Intangible Assets                             52 non-null     float64
 29  Capital Surplus                               40 non-null     float64
 30  Minority Interest                             32 non-null     float64
 31  Deferred Long Term Liab                       8 non-null      float64
dtypes: float64(14), int64(16), object(2)
memory usage: 15.1+ KB

In [7]:
# Show the first three rows
balance_sheet.head(3)

,Year,Accounts Payable,Cash,Common Stock,Gains Losses Not Affecting Retained Earnings,Inventory,Long Term Debt,Long Term Investments,Net Receivables,Net Tangible Assets,...,Total Liab,Total Stockholder Equity,comp_type,company,Deferred Long Term Asset Charges,Good Will,Intangible Assets,Capital Surplus,Minority Interest,Deferred Long Term Liab
0,2019,46236000000,48844000000,4.517400e+10,-584000000,4.106000e+09,9.180700e+10,1.053410e+11,45804000000,90488000000,...,248028000000,90488000000,tech,AAPL,NaN,NaN,NaN,NaN,NaN,NaN
1,2020,42296000000,38016000000,5.077900e+10,-406000000,4.061000e+09,9.866700e+10,1.008870e+11,37445000000,65339000000,...,258549000000,65339000000,tech,AAPL,NaN,NaN,NaN,NaN,NaN,NaN
2,2021,54763000000,34940000000,5.736500e+10,163000000,6.580000e+09,1.091060e+11,1.278770e+11,51506000000,63090000000,...,287912000000,63090000000,tech,AAPL,NaN,NaN,NaN,NaN,NaN,NaN


### Create ratio columns and add it to the balance sheet table

In [8]:
# Current ratio = current assets / current liabilities
balance_sheet['current_ratio']=balance_sheet['Total Current Assets']/balance_sheet['Total Current Liabilities']

In [9]:
# Debt-to-equity ratio = Total liabilities / Total shareholders' eqity
balance_sheet['Debt_to_equity_ratio']=balance_sheet['Total Liab']/balance_sheet['Total Stockholder Equity']

In [10]:
# Equity multiplier ratio = Total assets / Total shareholders' equity
balance_sheet['equity_multiplier_ratio']=balance_sheet['Total Assets']/balance_sheet['Total Stockholder Equity']

In [11]:
# Debt-to-assets ration = Total Liabilities / Total assets
balance_sheet['debt_to_assets_ratio']=balance_sheet['Total Liab']/balance_sheet['Total Assets']

In [ ]:
balance_sheet

In [ ]:
# Using .groupby() to get results by group
balance_sheet.groupby("comp_type")[["current_ratio", "Debt_to_equity_ratio", "equity_multiplier_ratio", "debt_to_assets_ratio"]].mean()

In [ ]:
balance_sheet.groupby(["Year", "comp_type"])[["current_ratio", "Debt_to_equity_ratio", "equity_multiplier_ratio", "debt_to_assets_ratio"]].mean()

In [ ]:
# Using groupby().transform() to append the result to tows according to the group each row belongs to.
balance_sheet[['industry_current_ratio', 'industry_Debt_to_equity_ratio', 'industry_equity_multiplier_ratio', "industry_debt_to_assets_ratio"]]=balance_sheet.groupby(["Year", "comp_type"])[["current_ratio", "Debt_to_equity_ratio", "equity_multiplier_ratio", "debt_to_assets_ratio"]].transform('mean')

In [14]:
balance_sheet.head(3)

,Year,Accounts Payable,Cash,Common Stock,Gains Losses Not Affecting Retained Earnings,Inventory,Long Term Debt,Long Term Investments,Net Receivables,Net Tangible Assets,...,Deferred Long Term Asset Charges,Good Will,Intangible Assets,Capital Surplus,Minority Interest,Deferred Long Term Liab,current_ratio,Debt_to_equity_ratio,equity_multiplier_ratio,debt_to_assets_ratio
0,2019,46236000000,48844000000,4.517400e+10,-584000000,4.106000e+09,9.180700e+10,1.053410e+11,45804000000,90488000000,...,NaN,NaN,NaN,NaN,NaN,NaN,1.540126,2.741004,3.741004,0.732692
1,2020,42296000000,38016000000,5.077900e+10,-406000000,4.061000e+09,9.866700e+10,1.008870e+11,37445000000,65339000000,...,NaN,NaN,NaN,NaN,NaN,NaN,1.363604,3.957039,4.957039,0.798267
2,2021,54763000000,34940000000,5.736500e+10,163000000,6.580000e+09,1.091060e+11,1.278770e+11,51506000000,63090000000,...,NaN,NaN,NaN,NaN,NaN,NaN,1.074553,4.563512,5.563512,0.820257

### Using .isin() to subset data for analysis
#### in this example we subset a dataframe to show 'fmcg' and 'tech' companies in the year 2019 and 2020

In [20]:
fmcg_tech_2019_2020=balance_sheet.loc[(balance_sheet['Year'].isin([2019,2020])) & (balance_sheet['comp_type'].isin(['fmcg', 'tech']))]
fmcg_tech_2019_2020

,Year,Accounts Payable,Cash,Common Stock,Gains Losses Not Affecting Retained Earnings,Inventory,Long Term Debt,Long Term Investments,Net Receivables,Net Tangible Assets,...,Deferred Long Term Asset Charges,Good Will,Intangible Assets,Capital Surplus,Minority Interest,Deferred Long Term Liab,current_ratio,Debt_to_equity_ratio,equity_multiplier_ratio,debt_to_assets_ratio
0,2019,46236000000,48844000000,4.517400e+10,-584000000,4.106000e+09,9.180700e+10,1.053410e+11,45804000000,90488000000,...,NaN,NaN,NaN,NaN,NaN,NaN,1.540126,2.741004,3.741004,0.732692
1,2020,42296000000,38016000000,5.077900e+10,-406000000,4.061000e+09,9.866700e+10,1.008870e+11,37445000000,65339000000,...,NaN,NaN,NaN,NaN,NaN,NaN,1.363604,3.957039,4.957039,0.798267
4,2019,9382000000,11356000000,7.852000e+10,-340000000,2.063000e+09,6.666200e+10,2.649000e+09,29524000000,52554000000,...,7.536000e+09,4.202600e+10,7.750000e+09,NaN,NaN,NaN,2.528839,1.800313,2.800313,0.642897
5,2020,12530000000,13576000000,8.055200e+10,3186000000,1.895000e+09,5.957800e+10,2.965000e+09,32011000000,67915000000,...,6.405000e+09,4.335100e+10,7.038000e+09,NaN,NaN,NaN,2.515765,1.546921,2.546921,0.607369
9,2019,5561000000,18498000000,5.055200e+10,-1232000000,9.990000e+08,3.958000e+09,1.307800e+10,27492000000,178839000000,...,7.210000e+08,2.062400e+10,1.979000e+09,NaN,NaN,NaN,3.374052,0.369670,1.369670,0.269897
10,2020,5589000000,26465000000,5.851000e+10,633000000,7.280000e+08,1.283200e+10,2.070300e+10,31384000000,199924000000,...,1.084000e+09,2.117500e+10,1.445000e+09,NaN,NaN,NaN,3.066756,0.436192,1.436192,0.303714
13,2019,47183000000,36092000000,5.000000e+06,-2823000000,2.049700e+10,2.341400e+10,2.169000e+09,20540000000,43257000000,...,NaN,1.475400e+10,4.049000e+09,3.365800e+10,NaN,NaN,1.097048,2.629520,3.629520,0.724481
14,2020,72539000000,42122000000,5.000000e+06,-2017000000,2.379500e+10,3.521600e+10,5.700000e+09,24309000000,73406000000,...,NaN,1.501700e+10,4.981000e+09,4.286500e+10,NaN,NaN,1.050227,2.438771,3.438771,0.709198
17,2019,1363000000,19079000000,NaN,-489000000,NaN,NaN,8.600000e+07,9518000000,81445000000,...,NaN,1.871500e+10,8.940000e+08,4.585100e+10,NaN,NaN,4.399455,0.319849,1.319849,0.242337
18,2020,1331000000,17576000000,NaN,927000000,NaN,NaN,6.234000e+09,11335000000,108617000000,...,NaN,1.905000e+10,6.230000e+08,5.001800e+10,NaN,NaN,5.051065,0.241843,1.241843,0.194745
41,2019,14017000000,7469000000,2.980000e+08,-31323000000,9.343000e+09,2.046600e+10,1.411600e+10,12534000000,5315000000,...,2.114000e+09,2.889600e+10,1.782400e+10,NaN,8.270000e+08,NaN,0.856975,1.442837,2.458730,0.586822
42,2020,13802000000,5235000000,2.880000e+08,-31405000000,1.010100e+10,2.576400e+10,1.459900e+10,11454000000,-2073000000,...,1.285000e+09,2.762000e+10,2.014800e+10,NaN,8.190000e+08,NaN,0.857661,1.696334,2.714258,0.624972
44,2019,11260000000,4239000000,4.009000e+09,-116488000000,5.017000e+09,2.036200e+10,1.690000e+08,4951000000,-18222000000,...,NaN,4.027300e+10,2.421500e+10,6.382700e+10,3.850000e+08,NaN,0.748825,1.459301,2.487680,0.586611
45,2020,12071000000,16181000000,4.009000e+09,-122818000000,5.498000e+09,2.353700e+10,6.700000e+07,4178000000,-18069000000,...,NaN,3.990100e+10,2.379200e+10,6.419400e+10,3.570000e+08,NaN,0.848708,1.618052,2.645537,0.611616
49,2019,8013000000,5509000000,2.300000e+07,-51069000000,3.338000e+09,2.914800e+10,2.683000e+09,7822000000,-16758000000,...,4.359000e+09,1.550100e+10,1.604300e+10,3.886000e+09,8.200000e+07,147000000.0,0.862372,4.306709,5.312255,0.810712
50,2020,8853000000,8185000000,2.300000e+07,-53922000000,4.172000e+09,4.037000e+10,2.792000e+09,8404000000,-24618000000,...,4.372000e+09,1.875700e+10,1.931500e+10,3.910000e+09,9.800000e+07,130000000.0,0.984126,5.899063,6.906348,0.854151
53,2019,9190000000,4185000000,4.200000e+08,-5574000000,4.164000e+09,2.203000e+10,7.560000e+08,5897000000,-17837000000,...,1.336000e+09,1.806700e+10,1.296200e+10,1.340000e+08,6.940000e+08,NaN,0.783201,3.859915,4.912523,0.785730
54,2020,8375000000,5548000000,9.200000e+07,-80846000000,4.462000e+09,2.145300e+10,7.940000e+08,4366000000,-19675000000,...,1.474000e+09,1.894200e+10,1.599900e+10,7.347200e+10,2.389000e+09,NaN,0.784625,3.275514,4.432006,0.739059
57,2019,3804000000,6480000000,1.760000e+09,-65788000000,3.379000e+09,2.753700e+10,2.173000e+10,3971000000,-7785000000,...,2.412000e+09,1.676400e+10,1.000200e+10,1.715400e+10,2.117000e+09,NaN,0.756720,3.439387,4.550919,0.755756
58,2020,3517000000,6795000000,1.760000e+09,-66617000000,3.266000e+09,4.012500e+10,2.231100e+10,3144000000,-9251000000,...,2.460000e+09,1.750600e+10,1.104400e+10,1.760100e+10,1.985000e+09,NaN,1.317718,3.420488,4.523343,0.756186


## 2-Income Statement

In [21]:
import pandas as pd

In [24]:
income_statement=pd.read_excel("C:\\Users\\abdul\\Downloads\\financials.xlsx")
income_statement.shape, income_statement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 25 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Year                                    60 non-null     int64
 1   Cost Of Revenue                         60 non-null     int64
 2   Discontinued Operations                 4 non-null      float64
 3   Ebit                                    60 non-null     int64
 4   Effect Of Accounting Charges            0 non-null      float64
 5   Extraordinary Items                     0 non-null      float64
 6   Gross Profit                            60 non-null     int64
 7   Income Before Tax                       60 non-null     int64
 8   Income Tax Expense                      60 non-null     int64
 9   Interest Expense                        56 non-null     float64
 10  Minority Interest                       32 non-null     float64
 11  Net Income                              60 non-null     int64
 12  Net Income Applicable To Common Shares  60 non-null     int64
 13  Net Income From Continuing Ops          60 non-null     int64
 14  Non Recurring                           0 non-null      float64
 15  Operating Income                        60 non-null     int64
 16  Other Items                             0 non-null      float64
 17  Other Operating Expenses                32 non-null     float64
 18  Research Development                    32 non-null     float64
 19  Selling General Administrative          60 non-null     int64
 20  Total Operating Expenses                60 non-null     int64
 21  Total Other Income Expense Net          60 non-null     int64
 22  Total Revenue                           60 non-null     int64
 23  comp_type                               60 non-null     object
 24  company                                 60 non-null     object
dtypes: float64(9), int64(14), object(2)
memory usage: 11.8+ KB

((60, 25), None)

In [25]:
# Compute the gross margin
income_statement["gross_margin"] = (income_statement['Total Revenue'] - income_statement['Cost Of Revenue']) / income_statement['Total Revenue']
income_statement.shape

(60, 26)

In [26]:
# Compute the operating margin
income_statement["operating_margin"] = (income_statement['Total Revenue']-income_statement['Total Operating Expenses'])/income_statement["Total Revenue"]
income_statement.shape

(60, 27)

In [27]:
# Calculate mean gross margin and operating margin by industry
average_ratio = income_statement.groupby("comp_type")[["gross_margin","operating_margin"]].mean()

print(average_ratio)

           gross_margin  operating_margin
comp_type
fmcg           0.514396          0.207112
real_est       0.534848          0.299938
tech           0.572062          0.273889


## Ratios from the balance sheet and income statement

### Asset turnover ratio=Total Revenue/Total Assets
#### Measures how efficiently a company is using its assets to generate revenue

In [33]:
# Computing asset turnover ratio using pandas
merged_dat=pd.merge(income_statement, balance_sheet, on=['Year', 'company'])
merged_dat.shape

(60, 61)

In [34]:
# Now we can use the merged file to compute the asset trurnover ratio
merged_dat['asset_turnover']=merged_dat['Total Revenue']/ merged_dat['Total Assets']

In [36]:
merged_dat.head(5)

,Year,Cost Of Revenue,Discontinued Operations,Ebit,Effect Of Accounting Charges,Extraordinary Items,Gross Profit,Income Before Tax,Income Tax Expense,Interest Expense,...,Good Will,Intangible Assets,Capital Surplus,Minority Interest_y,Deferred Long Term Liab,current_ratio,Debt_to_equity_ratio,equity_multiplier_ratio,debt_to_assets_ratio,asset_turnover
0,2019,161782000000,NaN,63930000000,NaN,NaN,98392000000,65737000000,10481000000,-3.576000e+09,...,NaN,NaN,NaN,NaN,NaN,1.540126,2.741004,3.741004,0.732692,0.768572
1,2020,169559000000,NaN,66288000000,NaN,NaN,104956000000,67091000000,9680000000,-2.873000e+09,...,NaN,NaN,NaN,NaN,NaN,1.363604,3.957039,4.957039,0.798267,0.847562
2,2021,212981000000,NaN,108949000000,NaN,NaN,152836000000,109207000000,14527000000,-2.645000e+09,...,NaN,NaN,NaN,NaN,NaN,1.074553,4.563512,5.563512,0.820257,1.042208
3,2022,223546000000,NaN,119437000000,NaN,NaN,170782000000,119103000000,19300000000,-2.931000e+09,...,NaN,NaN,NaN,NaN,NaN,0.879356,5.961537,6.961537,0.856354,1.117852
4,2019,42910000000,NaN,42959000000,NaN,NaN,82933000000,43688000000,4448000000,-2.686000e+09,...,4.202600e+10,7.750000e+09,NaN,NaN,NaN,2.528839,1.800313,2.800313,0.642897,0.439157

# 2-3 Visualizing ratios for within-company analysis
"""
Bar plots are helpful for:
    *visualizing financial ratios for a company on average, and
    *assessing performance relative to the industry average
"""


## 3-Cash flow statment
### Download data

In [40]:
cash_flow=pd.read_json("C:\\Users\\abdul\\Downloads\\cash_flow_tech.json")

In [42]:
cash_flow.head()

,Year,Capital Expenditures,Change In Cash,Change To Account Receivables,Change To Inventory,Change To Liabilities,Change To Netincome,Change To Operating Activities,Depreciation,Dividends Paid,...,Net Income,Other Cashflows From Financing Activities,Other Cashflows From Investing Activities,Repurchase Of Stock,Total Cash From Financing Activities,Total Cash From Operating Activities,Total Cashflows From Investing Activities,comp_type,company,Effect Of Exchange Rate
0,2019,-10495000000,24311000000,245000000,-2.890000e+08,-2548000000,5076000000,-896000000,12547000000,-1.411900e+10,...,55256000000,-105000000.0,-1.078000e+09,-6.971400e+10,-90976000000,69391000000,45896000000,tech,AAPL,NaN
1,2020,-7309000000,-10435000000,6917000000,-1.270000e+08,-1981000000,6517000000,881000000,11056000000,-1.408100e+10,...,57411000000,754000000.0,-9.090000e+08,-7.599200e+10,-86820000000,80674000000,-4289000000,tech,AAPL,NaN
2,2021,-11085000000,-3860000000,-10125000000,-2.642000e+09,14002000000,2985000000,-6146000000,11284000000,-1.446700e+10,...,94680000000,976000000.0,-3.520000e+08,-9.252700e+10,-93353000000,104038000000,-14545000000,tech,AAPL,NaN
3,2022,-10708000000,-10952000000,-1823000000,1.484000e+09,9926000000,10044000000,-8387000000,11104000000,-1.484100e+10,...,99803000000,-160000000.0,-1.780000e+09,-9.562500e+10,-110749000000,122151000000,-22354000000,tech,AAPL,NaN
4,2019,-13925000000,-590000000,-2812000000,5.970000e+08,4694000000,-2521000000,-1542000000,11600000000,-1.381100e+10,...,39240000000,-675000000.0,-1.241000e+09,-1.954300e+10,-36887000000,52185000000,-15773000000,tech,MSFT,-115000000.0

In [43]:
# Merge income statement data with balance sheet data
merged_income_statement_balance_sheet = pd.merge(income_statement, balance_sheet,
                                                 on=["Year", "company"])

In [44]:
# Now merge it with cash flow data
merged_all = pd.merge(cash_flow, merged_income_statement_balance_sheet, on=["Year", "company"])

In [57]:
print(merged_all.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 82 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Year                                          20 non-null     int64
 1   Capital Expenditures                          20 non-null     int64
 2   Change In Cash                                20 non-null     int64
 3   Change To Account Receivables                 20 non-null     int64
 4   Change To Inventory                           12 non-null     float64
 5   Change To Liabilities                         20 non-null     int64
 6   Change To Netincome                           20 non-null     int64
 7   Change To Operating Activities                20 non-null     int64
 8   Depreciation                                  20 non-null     int64
 9   Dividends Paid                                8 non-null      float64
 10  Investments                                   20 non-null     int64
 11  Issuance Of Stock                             5 non-null      float64
 12  Net Borrowings                                20 non-null     int64
 13  Net Income_x                                  20 non-null     int64
 14  Other Cashflows From Financing Activities     16 non-null     float64
 15  Other Cashflows From Investing Activities     17 non-null     float64
 16  Repurchase Of Stock                           16 non-null     float64
 17  Total Cash From Financing Activities          20 non-null     int64
 18  Total Cash From Operating Activities          20 non-null     int64
 19  Total Cashflows From Investing Activities     20 non-null     int64
 20  comp_type                                     20 non-null     object
 21  company                                       20 non-null     object
 22  Effect Of Exchange Rate                       16 non-null     float64
 23  Cost Of Revenue                               20 non-null     int64
 24  Discontinued Operations                       0 non-null      float64
 25  Ebit                                          20 non-null     int64
 26  Effect Of Accounting Charges                  0 non-null      float64
 27  Extraordinary Items                           0 non-null      float64
 28  Gross Profit                                  20 non-null     int64
 29  Income Before Tax                             20 non-null     int64
 30  Income Tax Expense                            20 non-null     int64
 31  Interest Expense                              16 non-null     float64
 32  Minority Interest_x                           0 non-null      float64
 33  Net Income_y                                  20 non-null     int64
 34  Net Income Applicable To Common Shares        20 non-null     int64
 35  Net Income From Continuing Ops                20 non-null     int64
 36  Non Recurring                                 0 non-null      float64
 37  Operating Income                              20 non-null     int64
 38  Other Items                                   0 non-null      float64
 39  Other Operating Expenses                      4 non-null      float64
 40  Research Development                          20 non-null     float64
 41  Selling General Administrative                20 non-null     int64
 42  Total Operating Expenses                      20 non-null     int64
 43  Total Other Income Expense Net                20 non-null     int64
 44  Total Revenue                                 20 non-null     int64
 45  comp_type_x                                   20 non-null     object
 46  gross_margin                                  20 non-null     float64
 47  operating_margin                              20 non-null     float64
 48  Accounts Payable                              20 non-null     int64
 49  Cash                                          20 non-null     int64
 50  Common Stock                                  17 non-null     float64
 51  Gains Losses Not Affecting Retained Earnings  20 non-null     int64
 52  Inventory                                     16 non-null     float64
 53  Long Term Debt                                16 non-null     float64
 54  Long Term Investments                         19 non-null     float64
 55  Net Receivables                               20 non-null     int64
 56  Net Tangible Assets                           20 non-null     int64
 57  Other Assets                                  20 non-null     int64
 58  Other Current Assets                          20 non-null     float64
 59  Other Current Liab                            20 non-null     int64
 60  Other Liab                                    20 non-null     int64
 61  Other Stockholder Equity                      20 non-null     int64
 62  Property Plant Equipment                      20 non-null     int64
 63  Retained Earnings                             20 non-null     float64
 64  Short Long Term Debt                          13 non-null     float64
 65  Short Term Investments                        20 non-null     float64
 66  Total Assets                                  20 non-null     int64
 67  Total Current Assets                          20 non-null     int64
 68  Total Current Liabilities                     20 non-null     int64
 69  Total Liab                                    20 non-null     int64
 70  Total Stockholder Equity                      20 non-null     int64
 71  comp_type_y                                   20 non-null     object
 72  Deferred Long Term Asset Charges              8 non-null      float64
 73  Good Will                                     16 non-null     float64
 74  Intangible Assets                             16 non-null     float64
 75  Capital Surplus                               8 non-null      float64
 76  Minority Interest_y                           0 non-null      float64
 77  Deferred Long Term Liab                       0 non-null      float64
 78  current_ratio                                 20 non-null     float64
 79  Debt_to_equity_ratio                          20 non-null     float64
 80  equity_multiplier_ratio                       20 non-null     float64
 81  debt_to_assets_ratio                          20 non-null     float64
dtypes: float64(36), int64(42), object(4)
memory usage: 12.9+ KB
None

In [59]:
# Compute cash flow to net income ratio
merged_all["cash_flow_to_net_income"] = merged_all["Total Cash From Operating Activities"] / merged_all["Net Income_x"]
merged_all.head()

,Year,Capital Expenditures,Change In Cash,Change To Account Receivables,Change To Inventory,Change To Liabilities,Change To Netincome,Change To Operating Activities,Depreciation,Dividends Paid,...,Good Will,Intangible Assets,Capital Surplus,Minority Interest_y,Deferred Long Term Liab,current_ratio,Debt_to_equity_ratio,equity_multiplier_ratio,debt_to_assets_ratio,cash_flow_to_net_income
0,2019,-10495000000,24311000000,245000000,-2.890000e+08,-2548000000,5076000000,-896000000,12547000000,-1.411900e+10,...,NaN,NaN,NaN,NaN,NaN,1.540126,2.741004,3.741004,0.732692,1.255809
1,2020,-7309000000,-10435000000,6917000000,-1.270000e+08,-1981000000,6517000000,881000000,11056000000,-1.408100e+10,...,NaN,NaN,NaN,NaN,NaN,1.363604,3.957039,4.957039,0.798267,1.405201
2,2021,-11085000000,-3860000000,-10125000000,-2.642000e+09,14002000000,2985000000,-6146000000,11284000000,-1.446700e+10,...,NaN,NaN,NaN,NaN,NaN,1.074553,4.563512,5.563512,0.820257,1.098838
3,2022,-10708000000,-10952000000,-1823000000,1.484000e+09,9926000000,10044000000,-8387000000,11104000000,-1.484100e+10,...,NaN,NaN,NaN,NaN,NaN,0.879356,5.961537,6.961537,0.856354,1.223921
4,2019,-13925000000,-590000000,-2812000000,5.970000e+08,4694000000,-2521000000,-1542000000,11600000000,-1.381100e+10,...,4.202600e+10,7.750000e+09,NaN,NaN,NaN,2.528839,1.800313,2.800313,0.642897,1.329893

In [61]:
# Compute operating cash flow ratio
merged_all["operating_cash_flow"] = merged_all["Total Cash From Operating Activities"] / merged_all["Total Current Liabilities"]
merged_all.head(5)

,Year,Capital Expenditures,Change In Cash,Change To Account Receivables,Change To Inventory,Change To Liabilities,Change To Netincome,Change To Operating Activities,Depreciation,Dividends Paid,...,Intangible Assets,Capital Surplus,Minority Interest_y,Deferred Long Term Liab,current_ratio,Debt_to_equity_ratio,equity_multiplier_ratio,debt_to_assets_ratio,cash_flow_to_net_income,operating_cash_flow
0,2019,-10495000000,24311000000,245000000,-2.890000e+08,-2548000000,5076000000,-896000000,12547000000,-1.411900e+10,...,NaN,NaN,NaN,NaN,1.540126,2.741004,3.741004,0.732692,1.255809,0.656378
1,2020,-7309000000,-10435000000,6917000000,-1.270000e+08,-1981000000,6517000000,881000000,11056000000,-1.408100e+10,...,NaN,NaN,NaN,NaN,1.363604,3.957039,4.957039,0.798267,1.405201,0.765466
2,2021,-11085000000,-3860000000,-10125000000,-2.642000e+09,14002000000,2985000000,-6146000000,11284000000,-1.446700e+10,...,NaN,NaN,NaN,NaN,1.074553,4.563512,5.563512,0.820257,1.098838,0.829114
3,2022,-10708000000,-10952000000,-1823000000,1.484000e+09,9926000000,10044000000,-8387000000,11104000000,-1.484100e+10,...,NaN,NaN,NaN,NaN,0.879356,5.961537,6.961537,0.856354,1.223921,0.793281
4,2019,-13925000000,-590000000,-2812000000,5.970000e+08,4694000000,-2521000000,-1542000000,11600000000,-1.381100e+10,...,7.750000e+09,NaN,NaN,NaN,2.528839,1.800313,2.800313,0.642897,1.329893,0.751729

In [63]:
# Compute the average ratios
average_ratios = merged_all.pivot_table(index="Year", values=["cash_flow_to_net_income", "operating_cash_flow"])
average_ratios

      cash_flow_to_net_income  operating_cash_flow
Year
2018                 1.978225             2.002246
2019                 1.892268             1.092949
2020                 1.763830             1.171911
2021                 1.282083             1.235200
2022                 1.223986             0.864842